@import "tailwindcss";

@custom-variant dark (&:is(.dark, .dark *));

@theme {
  --color-brand-blue: #0070f3;
  --color-brand-dark: #111111;
  --font-poppins: var(--font-poppins);
  --font-montserrat: var(--font-montserrat);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat), sans-serif;
}
